* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-color: #3FA5D5;
}

body {
  background-color: #e5e5e5;
}

.sidebar {
  background-color: #fff;
  width: 100px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  overflow: hidden;
}

.sidebar:hover {
  width: 234px;
  align-items: flex-start;
  transition: 0.5s linear;
}

.sidebar__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-self: flex-start;
  padding-left: 10px;
}

.sidebar__link {
  display: flex;
  gap: 30px;
  align-items: center;
  text-decoration: none;
  color: #939393;
}

.sidebar__img {
  width: 40px;
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.hero {
  margin-top: 30px;
  height: 500px;
  background-image: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  padding-left: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.hero:hover {
  box-shadow: 0px 10px 50px #0000001a;
}

.hero__content {
  width: 50px;
  height: 50px;
  border: 5px solid #000;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

.hero__title{
  font-size: 50px;
  color:  #464748;
  width: 310px;
}

.hero__desc{  
  color: #696868;
  width: 310px;
  text-align: justify;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about{
  background: var(--theme-color);
  border-radius: 30px;
  height: 33px;
  width: 211px;
  border: none;
  color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.30);
}

.services{
  display: flex;
  justify-content: space-between;
}

.services__item{
  width: 255px;
  height: 338px;
  background: #fff;
  border-radius: 15px;
  padding-top: 32px;
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.services__title{
  color: var(--theme-color);
  font-size: 20px;
}

.info{
  margin-top: 48px;
  display: flex;
  gap: 30px;
}


.info__title{
  color: #686868;
  font-size: 20px;
  margin-bottom: 22px;
}

.info__desc{
  color: #545454;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
}

.info__desc:nth-child(1){
  height: 124px;
}

.info__desc:nth-child(2){
  height: 144px;
}

.info__desc:nth-child(3){
  height: 144px;
}

.info__right-service{
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  gap: 15px;
  margin-bottom: 15px;
  width: 255px;
  height: 94px;
}

.info__right-title{
  font-size: 17px;
  color: #323232;
  margin-bottom: 5px;
}

.info__right-desc{
  font-size: 14px;
  line-height: 94.5%;
}